{% extends "base.html" %}
{% block title %}This is my User Card {% endblock %}
{% block header %}<h1>This is my User Card</h1>{% endblock %}

{% block content %}
<div id="left_part">
<table cellspacing="10">
        <tr><td width=5 nowrap><nobr>Name</nobr></td> <td>{{ card.name }}</td></tr>
        <tr><td width=5 nowrap><nobr>Last Name</nobr></td><td>{{ card.last_name }}</td></tr>
        <tr><td width=5 nowrap><nobr>Date of birth</nobr></td><td>{{ card.date_birth|date:"Y-m-d" }}</td></tr>
        <tr><td><br /></td></tr>
        <tr><td width=5 nowrap><nobr>Bio</nobr></td><td>{{ card.bio }}</td></tr>
</table>
</div>
<div id="right_part">
<table cellspacing="10">
        <tr><td width=5 nowrap><nobr>Contacts</nobr></td><td>{{ card.contacts }}</td></tr>
        <tr><td width=5 nowrap><nobr>Email</nobr></td><td>{{ card.email }}</td></tr>
        <tr><td width=5 nowrap><nobr>Jabber</nobr></td><td>{{ card.jabber }}</td></tr>
        <tr><td width=5 nowrap><nobr>Skype</nobr></td><td>{{ card.skype }}</td></tr>
        <tr><td width=5 nowrap><nobr>Other contacts</nobr></td><td>{{ card.other_contacts }}</td></tr>

</table>
</div>

<hr />
<a href="{% url midl_report %}">requests</a>

{% endblock %}
