 {% load editcard %}
{% if user.is_authenticated %}
    <table>
        <tr><td>User Name: </td><td>{{ user.username }}</td></tr>
    </table>
<div id="menu" style="float: left; margin-right: 20px;">
<ul>
	<li><a href="/">Main Page</a></li>
	<li><a href="{% url card_edit %}">Edir User Card</a></li>
	<li><a href="{% url midl_report %}">Middleware report</a></li>
	<li><a href="{% url ctx_proc %}">Context processor</a></li>
    <li><a href="{% url logout_url %}">Logout</a></li>
    <li><a href="{% edit_link card %}">Edit UserCard object on admin interface</a></li>
    <li><a href="{% edit_link user %}">Edit User object on admin interface</a></li>
</ul>
</div>
{% else %}
    <a href="{% url login_url %}">Login</a>
{% endif %}