html, body {
    margin: 4;
    padding: 4
}

body {
    font: 76% arial;
    font-family: Georgia, serif
}


div#navigation p {
    margin: 0 10px 10px
}


div#navigation a {
    display: block;
    padding: 10px
}


div#header h1 {
    height: 80px;
    line-height: 80px;
    margin: 0;
    padding-left: 10px;
    text-shadow: black 1px 1px 2px;
}

div#content p {
    line-height: 1.4
}

div#wrapper {
    float: left;
    width: 100%;
    margin-left: -33%
}

div#content {
    margin-left: 33%
}

div#navigation {
    float: right;
    width: 32.9%
}

div#left_part {
    float: left;
    /* margin: 20px */
}

div#right_part {
    /*float: left; */
    margin-left: 25%;
}

.error {
    background-color:red;
}
