{% extends "base.html" %}
{% block title %} MiddlewareeReport: saved all requests{% endblock %}

{% block content %}
<table border=1>
  <tr><td>Time</td><td>Method</td><td>URI</td> <td>User</td><td>Language</td> <td>IP</td> <td>User Agent</td> </tr>
  {% for middleware in middleware_list %}
  <tr><td>{{ middleware.time }}</td><td>{{ middleware.method }}</td><td>{{ middleware.uri }}</td><td>{{ middleware.user }}</td><td>{{ middleware.lang }}</td> <td>{{ middleware.addr }}</td><td> {{ middleware.user_agent }} </td></tr>
  {% endfor %}
</table>
{% endblock %}
